Repository ihw33/ai-orchestra-v02, changes with the labels that .github/labeler.yml gives for each.
All labels: area:protocol, area:idempotency, area:retry, area:controllers, area:tmux, tests

fix: Fix test imports and all tests passing
  core/__init__.py
  tests/test_tmux_controller.py
Labels: tests

feat: ChatGPT 코드리뷰 반영 - tmux 안전성 및 테스트 강화
  controllers/tmux_controller.py
  core/__init__.py
  core/protocol.py
  tests/test_advanced_scenarios.py
  tests/test_tmux_controller.py
Labels: area:protocol, area:controllers, area:tmux, tests

feat: PR 테스트 도구 추가
  main_mock.py
  tests/scenarios/ping_pong.yml
  tools/auto_grade.py
Labels: tests

docs: PR-01 CLI 옵션 정합성 테스트 완료 문서
  docs/PR-01-CLI-OPTIONS.md
Labels: none

docs: PR-02 tmux 하드닝 테스트 완료 문서
  docs/PR-02-TMUX-HARDENING.md
Labels: none

docs: PR-03 파서 강화 테스트 완료 문서
  docs/PR-03-PARSER-ENHANCEMENT.md
Labels: none

.github/labeler.yml:

# 파일 경로 기반 자동 라벨
"area:protocol":
  - "core/protocol.py"
"area:idempotency":
  - "core/idempotency.py"
"area:retry":
  - "core/retry.py"
"area:controllers":
  - "controllers/**"
"area:tmux":
  - "controllers/**/tmux*"
"tests":
  - "tests/**"

# 키워드 기반 (제목/본문)
"mvp":
  - any:
      - title: "\\bMVP\\b"
      - body: "\\bPhase 1\\b|\\bmvp\\b"
"epic":
  - any:
      - title: "^\\[Epic\\]"
"bug":
  - any:
      - title: "^\\[Bug\\]"
      - body: "\\bEOT\\s+TIMEOUT\\b|\\bNO_ACK\\b|\\bNO_RUN\\b"
